/* html{
    margin: 0px;
    padding-right: 0px;
} */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}



#contact{
    color: #474747 ;
    border-color: #474747;
    border-radius: 1rem;
    border-style: solid;
    font-size: larger;
    margin-left: -1.5vw;
}

#contact:hover{
    background-color: #c7ef00;
    color: black;
}

.description{
    color: #d1d1d1;
    position: relative; /* Necesitamos que el contenedor sea relativo para posicionar correctamente el pseudoelemento */
/* Ajustar según el grosor deseado del borde */
}
.important {
    font-weight: bold;
}

.description::before {
    content: ""; /* Esto es necesario para que el pseudoelemento se muestre */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-width: thin;
    width: 2px; /* Grosor del borde */
    background: linear-gradient(var(--start-color, #b3448e), var(--end-color, #af9268));
    /* background: linear-gradient(#b3448e,#af9268 ); Degradado desde lila hasta naranja */
}

.description_2{
    color: #d1d1d1;
    position: relative; /* Necesitamos que el contenedor sea relativo para posicionar correctamente el pseudoelemento */
/* Ajustar según el grosor deseado del borde */
}

/* Pseudoelemento para la mitad del borde izquierdo */
.description_2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%; /* Solo cubre la mitad de la altura */
    width: 2px; /* Grosor del borde */
    background: linear-gradient(var(--start-color, #b3448e), var(--end-color, #af9268));
}

/* Pseudoelemento para la mitad del borde superior */
.description_2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Solo cubre la mitad de la anchura */
    height: 2px; /* Grosor del borde */
    background: linear-gradient(to right,var(--start-color, #b3448e), var(--end-color, #af9268));
}

.description_3{
    position: relative; /* Necesario para el pseudoelemento */
    text-decoration: none; /* Quitamos el subrayado por defecto */
    color: #d1d1d1;
    display: inline-block; /* O cualquier otro color que desees para el texto */
}

.description_3::after {
    content: ""; /* Necesario para que el pseudoelemento se muestre */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Grosor del "subrayado" */
    background: linear-gradient(to right,var(--start-color, #b3448e), var(--end-color, #af9268)); /* Degradado de lila a naranja */
}
ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding-left: 0; /* Opcional: elimina el padding izquierdo predeterminado para alinear el contenido a la izquierda */
}


h1{
    color: #d1d1d1;
    font-size: 80px;
}

h3{
    color: #d1d1d1;
    font-weight: bold;
}

h6{
    color:#d1d1d1 ;
    font-style: bold;
    font-family: 'Open Sans', sans-serif;
    
}
h4{
    color: #d1d1d1;
}

h5{
    color:#d1d1d1 ;
    font-style: bold;
}
#text-header{
    color:  #d1d1d1;
}

.bg-danger{
    background-color: rgb(155, 25, 16) ; 
}

#card-body{
    background-color: rgb(0, 0, 0) ; 
    color: #d1d1d1;
}

#subheader-card{
    font-style: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #A2ABAB;
}

.container{
    margin-right: 0;
    padding-right: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #1d1d20;
}

.container{
    margin: 0;
    padding: 0;
}
 

.photo{
    display: block;
    margin-top: 2rem;
    margin-bottom: 4rem;

}

#code{
    /* padding: 5%; */
    color: #d1d1d1;
    background-color: #474747;
    font-style: normal;
    font-family:'Source Sans Pro', sans-serif;
}

.info_card{
    margin-top: -10rem;
}

.icon{
    color: #CC2936;
    
}

p{
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
}

#movil-display{
    display: none;
}

/* .card-height{
    height: 340px;
} */

.card-description{
    margin-top: 4rem;
    margin-left: 22%;
    border-color: #c7ef00;
}
#cards{
    background-color: #1d1d20;
}

#linkedin{
   text-align: center;
}

/* smartphone */

@media (max-width : 650px){

    .col-3, .col-6, .card-description{
        width: 100%;
        margin-left : 0px;  
               
    }
    .logo{ 
        max-width: 100px;
    }
    .rojo{
        display: none;
    }
    .photo{
        margin-bottom: 4rem;
    }
    #content-anchor{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        background-color: green;
        /* margin-left: -1.5rem; */
    }

    .info_card{
        width: 90vw;
        margin-top: 1vh;
    }

    #linkedin{
        /* margin-left: rem; */
        padding-left: 0rem;
        max-width: 350px;
    }

    #description{
        margin-left: 0px;
    }

    #cards{
        max-width: 80vw;
        padding-left: 5vw;
    }

    .iframe-visor{
        display: none;
    }

    #movil-display{
        display: block;
        padding-left: 0;
    }
    /* #recent-work{
        margin-top: 60vh;
    } */
    #link{
        margin-left: -12vw;
    }

    .video{
        max-height: 168px ;
    }
   .table{
        font-size: 10px;
        font-style: normal;
    }
    .tabla{
        width: 100%;
    }
}

@keyframes animate1{
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
}

.icon-img{
    animation: animate1 8s forwards ease-in-out;
    animation-iteration-count: infinite;
}

.iframe-visor{
    height: 100vh;
    border: 5px solid;
    border-color: #c7ef00;
}

/* border-success */
