*{
    font-family: 'Oswald','Source Sans Pro', sans-serif;
    margin: 0;
   
}


#contact{
    color: #474747 ;
    border-color: #474747;
    border-radius: 1rem;
    border-style: solid;
    font-size: larger;
    margin-left: -1.5vw;
}

#contact:hover{
    background-color: #c7ef00;
    color: black;
}

h3, h6{
    font-style: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #c7ef00;
    
}
h4{
    color: white;
}

h5{
    color:whitesmoke ;
    font-style: bold;
}
#text-header{
    color:  white;
}

.bg-danger{
    background-color: rgb(155, 25, 16) ; 
}

#card-body{
    background-color: rgb(0, 0, 0) ; 
    color: white;
}

#subheader-card{
    font-style: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: #A2ABAB;
}

.container{
    margin-right: 0;
    padding-right: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container{
    margin: 0;
    padding: 0;
}
 

.photo{
    display: block;
    margin-top: 2rem;
    margin-bottom: 4rem;

}



.info_card{
    margin-top: -10rem;
}

.icon{
    color: #CC2936;
    
}

p{
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
}

#movil-display{
    display: none;
}

.card-height{
    height: 340px;
}

.card-description{
    margin-top: 4rem;
    margin-left: 22%;
    border-color: #c7ef00;
}
#cards{
    background-color: black;
}

@media (max-width : 1588px) {
    .card-height{
        height: 550px;
    }
}
#linkedin{
   text-align: center;
}

/* smartphone */

@media (max-width : 650px){
    .col-3, .col-6, .card-description{
        width: 100%;
        margin-left : 0px;  
               
    }
    .logo{ 
        max-width: 280px;
    }
    .contact{
        max-width: 100px;
    }
    .rojo{
        display: none;
    }
    .photo{
        margin-bottom: 4rem;
    }
    #content-anchor{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        background-color: green;
        /* margin-left: -1.5rem; */
    }

    #linkedin{
        /* margin-left: rem; */
        padding-left: 0rem;
        max-width: 350px;
    }

    #description{
        margin-left: 0px;
    }

    #cards{
        max-width: 80vw;
        padding-left: 5vw;
    }

    .iframe-visor{
        display: none;
    }

    #movil-display{
        display: block;
        padding-left: 0;
    }
    #recent-work{
        margin-top: 60vh;
    }
    #link{
        margin-left: -12vw;
    }

}

@keyframes animate1{
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
}

.icon-img{
    animation: animate1 8s forwards ease-in-out;
    animation-iteration-count: infinite;
}

.iframe-visor{
    height: 100vh;
    border: 5px solid;
    border-color: #c7ef00;
}